body {
    font-family: Arial;
}

#leaflet-map {
    height: 500px;
}

.popup-grid {
    display: grid;
    grid-template-columns: 150px 100px;
    column-gap: 10px;
    align-items: center;
}

.leaflet-popup-image {
    max-width: 100%;
}